!
{% for svi in devices[inventory_hostname].svis %}
 interface vlan{{ svi }}
  vrrp {{ svi }}
  vrrp {{ svi }} priority {{ "200" if inventory_hostname[-1:]|int%2 != 0 else "100" }}
  vrrp {{ svi }} ip {{ racks[devices[inventory_hostname].rack].vrrp[svi].ipv4[:-3] }}
  vrrp {{ svi }} preempt
  !
 !
{% endfor %}