{{ ansible_managed }}

{% include './features/loopback.j2' %}
{% include './features/mgmt.j2' %}
{% include './features/down_interfaces.j2' %}
{% include './features/fabric.j2' %}
{% include './features/vrrp_peerlink.j2' %}
{% include './features/bridge.j2' %}
{% include './features/svis.j2' %}