
#####################
# downlink interfaces
#####################

{% for port in racks[devices[inventory_hostname].rack].interfaces %}
auto {{ port.interface }}
iface {{ port.interface }}
{%   if interface.access is defined %}
    bridge-access {{ port.access }}
{%   endif %}
{%   if port.trunk is defined %}
{%     if port.trunk.tagged is defined %}
    bridge-vids {{ port.trunk.tagged | join(' ') }}
{%     endif %}
{%     if port.trunk.untagged is defined %}
    bridge-pvid {{ port.trunk.untagged }}
{%     endif %}
{%   endif %}

auto {{ port.interface }}
iface {{ port.interface }}
{% endfor %}
