
###############
# SVI
###############
{% for svi in devices[inventory_hostname].svis %}
auto vlan{{ svi }}
iface vlan{{ svi }}
    address {{ devices[inventory_hostname].svis[svi].ipv4 }}
    vlan-raw-device bridge
    vlan-id {{ svi }}
{% endfor %}