
###############
# vrrp peerlink
###############

{% for interface in peerlinks %}
auto {{ interface }}
iface {{ interface }}
    alias vrrp_peerlink

{% endfor %}

auto peerlink
iface peerlink
    bond-slaves {% for interface in peerlinks %}{{ interface }} {% endfor %}
